* {
  padding: 0;
  margin: 0;
  box-size: border-box;
  font-size: 20px;
}

header {
  margin-top: 5px;
}
.logo {
  font-size: 28px;
  margin-left: 5vw;
}
li {
  list-style: none;

  margin-right: 30px;
  color: gray;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  margin-bottom: 9%;
}
.btn {
  border: none;
  background-color: skyblue;
  padding: 7px;
  border-radius: 12px;
  color: blue;

  margin-right: 5vw;
}

.leftdiv {
  width: 25vw;
  display: flex;
  flex-direction: column;

  justify-content: center;

  margin-right: 17%;
}
.btn1 {
  background-color: skyblue;
  border: none;
  border-radius: 18px;
  color: white;
  padding: 16px;
  cursor:pointer;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}
.btn1:hover{

  transform: scale(1.1) rotate(-4deg);
  box-shadow: 0 4px 6px rgba(0, 123, 255, 0.3);
}
.blue {
  color: blue;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 3%;
}
.hey {
  font-size: 40px;
  color: #555555;
  font-weight: 800;
  margin-bottom: 4%;
  line-height: 7vh;
}
.line {
  margin-bottom: 8%;
}

ul.menu-items {
  display: flex;
  align-items: center;
  justify-content: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu{
  width:20px;
  height:25px;
  position:absolute;
  top:2.4%;
  right:6%;
  display:none;
  cursor:pointer;
}
#check{
  display:none;
}
#check:checked ~ul{
  right:-30px;
}
.image{
  transition: 6s ease-in-out;
}
.image:hover{
  animation: cr 1s linear ;
/* animation-direction:reverse; */

 
}

@keyframes cr {
  0%,100%{
      transform: translate(0,0);
  }
 
  25%{
      transform: translate(40px,0);
  }
  50%{
      transform: translate(40px, 40px);
  }
  75%{
      transform: translate(0, 40px);
  }
  95%{
    transform:scale(0.93);
  }
}

@media screen and (max-width: 1024px) {
  .logo {
    font-size: 30px;
  }
  .leftdiv {
    width: 28vw;
  }
  .leftdiv {
    margin-right: 11%;
    margin-left: 6%;
  }
}
@media screen and (max-width: 896px) {
  .blue {
    font-size: 26px;
  }
  .hey {
    font-size: 36px;
  }
  .rightdiv {
    width: 340px;
    height: 350px;
  }
}
@media screen and (max-width: 771px) {
  .btn1 {
    margin-bottom: 15%;
  }
  .logo {
    font-size: 40px;
  }
  .btn {
    padding: 9px;
    position: fixed;
    right: 63px;
    top: 9px;
  }
 /* li{
    display: none;
  } */

  .menu{
    display:block;
    z-index:100;
  }
  ul li{
    color:white;
    margin-bottom:20px;
  }
  ul.menu-items {
    flex-direction:column;
    color:white;
    background-color:gray;
    width:70%;
    height:100%;
    position:fixed;
    top:0;
    right:-100%;
   z-index:90;
   transition:all 0.2s ease-in-out;
  
  }
  

  .rightdiv {
    width: 200px;
    display: flex;
    margin-bottom: 2%;
    justify-content: center;
  }
  main {
    flex-direction: column;
  }
  /* .blue {
    font-size: 55px;
  } */
  .leftdiv {
    width: 55%;
    
  }
}
@media screen and (max-width: 625px) {
  .rightdiv {
    width: 40px;
    height: 200px;
  }
  .leftdiv {
    width: 64%;

    
  }
  img {
    height:250px;
    width: 300px;
  }
}
